Flask==1.0

# Application server for both development and production.
gunicorn==19.8.1

# Testing and static analysis.
pytest==2.9.1
pytest-cov==2.2.1
flake8==2.5.4

# CLI.
Click==6.7

# Data and workers.
redis==2.10.6
celery==4.2.0
flower==0.9.2

# Extensions.
#flask-debugtoolbar==0.10.0
Flask-Compress==1.4.0

# Others.
requests==2.19.1
requests-cache==0.4.13
psutil==5.4.3
msbwt==0.3.0
numpy==1.14.5
pysam==0.14.1

